#bar {
  height: 100vh;
  background-color: aliceblue;
}

.progress{
  background-color: green;
}

.p {
  background-color: grey;
  border-radius: 10px;
}

#buttonbox{
  max-width: 900px;
  margin: auto;
}

.button{
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #C8A2C8;
  font-size: 20px;
  font-family: Verdana;
}
  
.button:hover {
  background-color: lightcoral; /* Green */
  color: white;
  transition: 300ms;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.02);
}

.button:active {
  transform: scale(0.99);
}

#clock{
  position: absolute;
  background-color: lightgrey;
  border-radius: 10px;
  border: 3px solid lightsalmon;
  padding: 12px;
  width: 150px;
  margin: auto;
  margin-top: 70px;
  color: rgb(118, 160, 198);
  font-weight: bold;
  box-shadow: 0px 10px 15px 15px rgba(0,0,0,0.1);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}


#objectbox{
  position: relative;
  margin: auto;
  border-radius: 10px;
  justify-content: center;
  background-repeat: no-repeat;
}

#object1{
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 400px;
  margin-top: 30px;
  float: center;
  border-radius: 10px;
}

#object2{
  margin: auto;
  position: absolute;
  margin-bottom: 40px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

